<p-drawer #drawerRef [(visible)]="visible" styleClass="sidenav" [modal]="false">
  <ng-template #headless>
    <div class="flex flex-column h-full w-full">
      <div class="logo w-full">Finance App</div>
      <div class="flex flex-column h-full justify-content-between">
        <div>
          <ul class="flex flex-column">
            <li>
              <a
                routerLink="/dashboard"
                routerLinkActive="active-link"
                class="flex items-center navigation-item"
                [routerLinkActiveOptions]="{ exact: true }"
              >
                <i class="pi pi-file-export"></i>
                <span class="ml-2">Dashboard</span>
              </a>
            </li>
            <li>
              <a
                routerLink="/home"
                routerLinkActive="active-link"
                class="flex items-center navigation-item"
              >
                <i class="pi pi-home"></i>
                <span class="ml-2">Home</span>
              </a>
            </li>
            <li>
              <a
                routerLink="/wallet"
                routerLinkActive="active-link"
                class="flex items-center navigation-item"
              >
                <i class="pi pi-wallet"></i>
                <span class="ml-2">Wallet</span>
              </a>
            </li>
            <li>
              <a
                routerLink="/settings"
                routerLinkActive="active-link"
                class="flex items-center navigation-item"
              >
                <i class="pi pi-cog"></i>
                <span class="ml-2">Settings</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="navigation-item border-none" (click)="signOut()">
          <i class="pi pi-sign-out"></i>
          <span class="ml-2">Sign Out</span>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
