@import "primeicons/primeicons.css";

:root {
  --primary-color: #443AD8;
  --primary-color-hover: #5145f3;
  --surface-ground: #v; /* Background for main surfaces */
  --surface-card: #ffffff; /* Background for cards */
  --text-color: #ffffff; /* Default text color */
  --primary-text-color: #ffffff; /* Text on primary buttons */
  --border-radius: 8px; /* Default border radius */
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  color: white;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.p-button {
  background: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}
.p-button:hover {
  background: var(--primary-color-hover) !important;
}

.bg-black {
  background: #000;
}

.card {
    background: #181818D9;
    backdrop-filter: blur(4px);
    border-radius: 36px;
    padding: 30px 25px;
    
    /* border: 1px solid rgba(255, 255, 255, 0.2); Light border to enhance edges */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 
                0 1px 3px rgba(0, 0, 0, 0.06); /* Subtle layered shadow */

}

.login-card {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin: 13px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 350px;
}

form {
  margin: 30px 0;
}

.url-link {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;


}
