@import "primeicons/primeicons.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  color: white;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.bg-black {
  background: #000;
}

.card {
    background: #181818D9;
    backdrop-filter: blur(4px)

}
