<div class=" dashboard-screen">
  <div>
    <h1 class="text-center">Good Morning, <span class="non-bold-h1">John Doe</span></h1>
  </div>

  <div >
    <div class="card w-7 mb-4">
        <p-chart type="line" [data]="data" [options]="options" class="h-[10rem]" />
    </div>
    <div class="card w-7">
        <div class="card-heading mb-3">Card Heading</div>
        <div class="transaction-item">

            <div>
                <div class="transaction-item-title">Spotify</div>
                <div class="transaction-item-subtitle">April 18, 2022 11:01 AM</div>

            </div>

            <div class="transaction-item-amount">
                $400.00
            </div>

        </div>
    </div>
  </div>
</div>
